.sidebar-container {
  background-color: #fff;
  max-width: 200px;
  align-items: center;
  position: absolute;
  -webkit-box-shadow: 8px 0px 5px -3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 8px 0px 5px -3px rgba(0, 0, 0, 0.26);
  box-shadow: 8px 0px 5px -3px rgba(0, 0, 0, 0.26);
  height: 45000px;
}

.pokemon-type {
  max-width: 150px;
  width: 150px;
  margin: 5px 25px;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  background: #f2f1f0;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  outline: 0 !important;
}


.pokemon-type:hover{
  box-shadow: inset 5px 5px 15px #d4d4d4, 
  inset -5px -5px 15px #ffffff;
}
