.estrutura-container {
  width: 100%;
  padding: 10px;
  background: #ddd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.estrutura-textos {
  width: 600px;
  padding: 10px;
  background: #fff;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.estrutura-image {
  width: 600px;
  padding: 10px;
  background: #fb3c33;
  height: 550px;
  text-align: center;
}
.estrutura-image h1 {
  font-weight: 500;
  color: #fff;
  font-size: 60px;
}
.estrutura-image img {
  width: 150px;
  margin-top: 12%;
}
